.ftr {
	clear: both;
	background: url("../imgs/footer-bk.png") no-repeat center;
	text-align: center;
	padding: 3em 0 0 0;
	height: 10em;
	margin-top: 4em;
	height: 13em;
  	margin-top: 4em;

	@include breakpoint(small){
  		margin-top: 12em;
	}

	@include breakpoint(medium){
		height: 10em;
		margin-top: 4em;
	}

	svg { 
		fill: $color__white;
		display: inline-block;
    	vertical-align: middle;
	}
}

.ftr__social {
	display:inline-block;
	*display: inline;
	zoom: 1;
	&:not(:last-of-type){
		padding-right: 1em;
	}
}

small {
	margin-top: $ratio#{em};
	display: block;
	text-align: center;
	color: $color__white;
}
