.open {
  top: 0 !important;
  bottom: 0 !important;
}

#search--panel {
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  bottom: 100%;
  background-color: $color__primary;
  color: #fff;
  padding-top: 2.61803em;
  font-size: 1.61803em;
  z-index: 999;
  transition: all,0.4s;
}

.input-with-button__input {
  display: block;
  float: left;
  margin-right: 0.61803em;
  position: relative;
  width: calc(100% - 7.5em - .618033em);
}

.input-with-button__button {
  display: block;
  float: left;
  width: 7.5em;
}

.ui-front {
    position: relative;
}

.ui-autocomplete {
    background-color: $color__white;
    border: 1px solid $color__white;
    border-bottom-left-radius: pow($ratio--inv, 3)#{em};
    border-bottom-right-radius: pow($ratio--inv, 3)#{em};
    border-top: 0;
    left: 0 !important;
    position: absolute;
    top: 100% !important;
    width: 100% !important;
    z-index: 9999;
}

.ui-menu-item {
    cursor: pointer;
    padding: $ratio--inv#{em};
    text-align: left;
    color: $color__primary !important;

    &.ui-state-focus {
        background-color: $color__primary;
        color: $color__white !important;
    }
}

.ui-helper-hidden-accessible {
    display: none; // Not technically the right thing to do here, but we really don't need it.
}
