@charset "UTF-8";
/*!
    Project Name: 
    Project URI: http://

    Author: Drummond central
    Author URI: http://www.drummondcentral.co.uk/
*/
/**
 * She’s all yours, cap’n... Begin importing your stuff here.
 */
html {
  font-family: "helvetica", verdana, sans-serif;
  line-height: 16em;
  font-size: 12px;
  font-weight: 300;
  direction: ltr;
  display: block;
  unicode-bidi: embed;
  -webkit-locale: en-UK;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@media (min-width: 38em) {
  body {
    font-size: 1.08333em;
    line-height: 16em;
  }
}
@media (min-width: 52em) {
  body {
    font-size: 1.16667em;
    line-height: 16em;
  }
}
@media (min-width: 72em) {
  body {
    font-size: 1.25em;
    line-height: 16em;
  }
}

html {
  background: green;
}

.clearfix:before, .grid:before, .clearfix:after, .grid:after {
  content: " ";
  display: table;
}
.clearfix:after, .grid:after {
  clear: both;
}

.column {
  float: left;
  padding: 0.61803em 1em;
}
.grid--no-gutter .column {
  margin: 0;
  padding: 0;
}

.column--first {
  padding-left: 0;
}

.column--last {
  padding-right: 0;
}

.column--center {
  float: none !important;
  margin-left: auto;
  margin-right: auto;
}

.column__1-of-12 {
  width: 8.33333%;
}

.column__2-of-12 {
  width: 16.66667%;
}

.column__3-of-12 {
  width: 25%;
}

.column__4-of-12 {
  width: 33.33333%;
}

.column__5-of-12 {
  width: 41.66667%;
}

.column__6-of-12 {
  width: 50%;
}

.column__7-of-12 {
  width: 58.33333%;
}

.column__8-of-12 {
  width: 66.66667%;
}

.column__9-of-12 {
  width: 75%;
}

.column__10-of-12 {
  width: 83.33333%;
}

.column__11-of-12 {
  width: 91.66667%;
}

.column__12-of-12 {
  width: 100%;
}

@media (min-width: 38em) {
  .column__1-of-12--small {
    width: 8.33333%;
  }
}

@media (min-width: 38em) {
  .column__2-of-12--small {
    width: 16.66667%;
  }
}

@media (min-width: 38em) {
  .column__3-of-12--small {
    width: 25%;
  }
}

@media (min-width: 38em) {
  .column__4-of-12--small {
    width: 33.33333%;
  }
}

@media (min-width: 38em) {
  .column__5-of-12--small {
    width: 41.66667%;
  }
}

@media (min-width: 38em) {
  .column__6-of-12--small {
    width: 50%;
  }
}

@media (min-width: 38em) {
  .column__7-of-12--small {
    width: 58.33333%;
  }
}

@media (min-width: 38em) {
  .column__8-of-12--small {
    width: 66.66667%;
  }
}

@media (min-width: 38em) {
  .column__9-of-12--small {
    width: 75%;
  }
}

@media (min-width: 38em) {
  .column__10-of-12--small {
    width: 83.33333%;
  }
}

@media (min-width: 38em) {
  .column__11-of-12--small {
    width: 91.66667%;
  }
}

@media (min-width: 38em) {
  .column__12-of-12--small {
    width: 100%;
  }
}

@media (min-width: 52em) {
  .column__1-of-12--medium {
    width: 8.33333%;
  }
}

@media (min-width: 52em) {
  .column__2-of-12--medium {
    width: 16.66667%;
  }
}

@media (min-width: 52em) {
  .column__3-of-12--medium {
    width: 25%;
  }
}

@media (min-width: 52em) {
  .column__4-of-12--medium {
    width: 33.33333%;
  }
}

@media (min-width: 52em) {
  .column__5-of-12--medium {
    width: 41.66667%;
  }
}

@media (min-width: 52em) {
  .column__6-of-12--medium {
    width: 50%;
  }
}

@media (min-width: 52em) {
  .column__7-of-12--medium {
    width: 58.33333%;
  }
}

@media (min-width: 52em) {
  .column__8-of-12--medium {
    width: 66.66667%;
  }
}

@media (min-width: 52em) {
  .column__9-of-12--medium {
    width: 75%;
  }
}

@media (min-width: 52em) {
  .column__10-of-12--medium {
    width: 83.33333%;
  }
}

@media (min-width: 52em) {
  .column__11-of-12--medium {
    width: 91.66667%;
  }
}

@media (min-width: 52em) {
  .column__12-of-12--medium {
    width: 100%;
  }
}

@media (min-width: 72em) {
  .column__1-of-12--large {
    width: 8.33333%;
  }
}

@media (min-width: 72em) {
  .column__2-of-12--large {
    width: 16.66667%;
  }
}

@media (min-width: 72em) {
  .column__3-of-12--large {
    width: 25%;
  }
}

@media (min-width: 72em) {
  .column__4-of-12--large {
    width: 33.33333%;
  }
}

@media (min-width: 72em) {
  .column__5-of-12--large {
    width: 41.66667%;
  }
}

@media (min-width: 72em) {
  .column__6-of-12--large {
    width: 50%;
  }
}

@media (min-width: 72em) {
  .column__7-of-12--large {
    width: 58.33333%;
  }
}

@media (min-width: 72em) {
  .column__8-of-12--large {
    width: 66.66667%;
  }
}

@media (min-width: 72em) {
  .column__9-of-12--large {
    width: 75%;
  }
}

@media (min-width: 72em) {
  .column__10-of-12--large {
    width: 83.33333%;
  }
}

@media (min-width: 72em) {
  .column__11-of-12--large {
    width: 91.66667%;
  }
}

@media (min-width: 72em) {
  .column__12-of-12--large {
    width: 100%;
  }
}

body {
  background: red;
}

/*# sourceMappingURL=project.css.map */
