.bubbles {
	margin-top: -4em;
	padding-top: 3em !important;
	position: relative;
}

.small-bubble {
	display: none;
	@include breakpoint(medium){
        display: inline-block;
    }
}

.medium-bubble {
	padding-bottom: 1em;
	display: none;
	@include breakpoint(small){
        display: inline-block;
    }
}

.info-img {
	opacity: 1;
	transform: scale(1);

	@include breakpoint(small){
		opacity: 0;
	}
}

.large-bubble {
	position: absolute;
	top: -6em;
 	right: -6em;
	height: 14em;
	width: 15em;
	background: url('../imgs/bubbles/bubble-medium.png') no-repeat;

	@include breakpoint(small){
		top: -2em;
		right: 4em;
		height: 12em;
		width: 13em;
		background: url('../imgs/bubbles/bubble-large.png') no-repeat;
	}
}

.large-bubble--img {
	position: absolute;
	z-index: -1;
}

.large-bubble--text {
	color: #fff;
	padding: 1.2em 4em 1em 1.2em;
	@include breakpoint(small){
		padding: 2em 4em 1em 2.2em;
	}
}