// Pixels used to get the precise cog positions not the best.


.wrap{
	width: 600px;
	height: 600px;
	display: block;
	position: relative;
	margin: 60px auto;
	z-index: -100;

	.animated {
		opacity: 1 !important;
	}
}

.cogs__animation--signup {
	margin: 8em;
}

.cog-small{
	width:130px;
	height:130px;
	position:absolute;
	top: 221px;
  	right: 155px;
	background: url(../imgs/cogs1/cog-small-second.png) no-repeat;
}
.cog-medium{
	width: 130px;
	height: 130px;
	position:absolute;
	top: -5px;
	left: -3px;
	background: url(../imgs/cogs1/cog-small.png) no-repeat;
}
.cog-large{
	width: 204px;
  	height: 205px;
	top: 20px;
  	left: 330px;
	position:absolute;
	background: url(../imgs/cogs1/cog-medium.png) no-repeat;
}
.cog-xlarge{
	width: 204px;
  	height: 205px;
	position:absolute;
  	top: -33px;
  	left: 132px;
	background: url(../imgs/cogs1/cog-medium-second.png) no-repeat;
}

.cog-small--left{
	top: 281px;
  	right: 144px;
}

.cog-medium--left{
	top: 49px;
  	left: -23px;
}

.cog-large--left{
	top: auto;
  	bottom: 150px !important;
  	left: 120px !important;
}

.cog-xlarge--left{
	top: 179px;
  	left: -68px;	
}


.cogs {
	height: 38em;
	margin-right: -5em;
	position: relative;
	margin-bottom: 11em;

	@include breakpoint(small){
		margin-bottom: 11em;
	}

	@include breakpoint(medium){
		margin-bottom: 1em;
	}
}

.cogs__text {
	position: absolute;
	bottom: 12em;
	left: -2em;

  	@include breakpoint(small){
		bottom: 14em;
		left: 6em;
	}

	@include breakpoint(medium){
		bottom: 16em;
	  	left: 4em;
	}
}


.cogs-animation__second {
	position: absolute;
	z-index: -1;
	top: 9em;
}
