// Don't leave stuff in here, it's lazy and everyone will hate you for it.

#mc_embed_signup_scroll {
	h3 {
		padding-bottom: $ratio--inv#{em};
	}
}

.cb {
    clear: both;
}


.field__option-pair {
    padding-right: $ratio#{em};
    position: relative;

    &.field__option-pair {
        margin-bottom: $ratio--inv#{em};
    }

    .field__option-pair__remove {
        display: none;
    }

    ~ .field__option-pair {
        .field__option-pair__remove {
            display: inline-block;
        }
    }
}

.field__option-pair__label,
.field__option-pair__value {
    &.column {
        padding-bottom: $ratio--inv#{em};
        padding-top: 0;
    }
}

.field__option-pair__remove {
    bottom: 1em;
    display: block;
    height: $ratio#{em};
    position: absolute;
    right: 0;
    width: $ratio#{em};
}

.form-group {
    position: relative;
    [readonly]{
        border: none;
    }
}

.form-fields--profile-ul {
    display: none;
}

.profileEdit{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, -50%);
}

.readonly{
    [readonly]{
        border: none;
    }
    [type=submit] {
        display: none;
    }
}


