*{
    box-sizing: border-box;
}

html{
    color: $color__black;
}
body{
  
}

html,
body{
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;
}

%wrapper{
    max-width: 75em;
    width: 100%;
    margin: 0 auto;
    padding: 0 $ratio#{em};
}


.hide{
    display: none;
}

