// svg img { width: 100%; }
.animated{
	opacity:1;
	transform: scale(1);
}

.lt-ie9 {

	.large-bubble {
		width: 14em;
		height: 14em;
		right: 2em;
		padding: 1em 0 1em 1em;
		background: url('../imgs/bubbles/bubble-large.png') no-repeat;
	}

	.cogs {
		margin-right: 0;
	}

	.cogs__text {
		bottom: 13em;
		left: 10em;
	}

	.ftr {
		height: 13em;
		svg img { width: 100%; }
	}

	.form-fields label{
	    display: block;
	}

}

.lt-ie8 {
	
	.bubbles { 
		float: right;
		width: 50%;
	}

	.cogs__text {
		bottom: 18em;
		left: 4em;
	}

	.large-bubble {
		width: 14em;
		height: 14em;
		right: 0em;
		padding: 0;
	}

	.sign-up {
		position: relative;
	}

	.cogs__animation--signup {
		position: absolute;
		top: 0em;
	}

	.form-fields label{
	    display: block;
	}
	.holding--info-img img {
	  width: 30em;
	}

}

