.robot {
	// border-radius: 50%;
	// width: 200px;
	// height: 200px; 
	// background: #c1c1c1;
	position: fixed;
	bottom: -1em;
  	right: -1em;
  	will-change: transform;
  	display: none;
  	z-index: 200;

  	@include breakpoint(medium){
		display: block;
	}
}